/*These CSS Styles are displayed on the index.html/Home Page*/

body {
        font-family: 'Alice', serif;
}

/*Header image style*/
header { 
        background-image: url(../images/index-logo.jpg);
        background-position:center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 60%;
        width: 100%;
        border-bottom: 1px solid #A52A2A;
}
 
 /*Flexbox contains .store-hours, .location, and mailinglist class selectors*/ 
.flex-box {
           display:flex;
           justify-content: space-between;
           margin-top: 40px;
}

.store-hours {
             border-collapse: collapse;
             margin-left: 85px;
             margin-right: -35px;
       
}

/*Table styles applies to both store-hours and .location class selectors*/
table, th, td{
              text-align: center;
              color: #7B000B;
              border: 2px solid #A52A2A;
              border-style: hidden;
}

th {
     font-size: 30px;
     color: #E13619;
     padding: 10px;
}

td {
     font-size: 25px;
}

.location {
           border-collapse: collapse;
           height: 300px;
           margin-left: 50px;
}

.location th {
             font-size: 30px;
}

.location td {
              font-size: 25px;
}

/*mailinglist form style*/
form {
      font-family: 'Alice', serif;
      margin-left: 150px;
      margin-top: 10px;
}

form h2 {
         margin-right: 55px;
         font-size: 30px;
         color: #E13619; 
         text-align: center;
}

.mailinglist {
              padding: 5px;
              margin-right: 45px;
}

input[type=text], input[type=submit] {
                                      padding: 10px;
                                      border: 1px solid #A52A2A;
                                      box-sizing: border-box;
}

input[type=text] {
                  display:block;
                  text-align: center;
                  width: 85%;
                  margin:10px auto;
}

input[type=submit] {
                    background-color: #E13619;
                    width: 150px;
                    margin-left: 70px;
                    color: #FFFFFF;
}

input[type=submit]:hover {
                          background-color: #DDDD88;
}

footer {
        height: 70px;
        width: 100%;
        margin-top: 179.5px;       
        background-color: #E13619;
}






